body h1,h2,h3,h4,h5,p{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.header{
    background: #161B29;
    color: white;
    height: 100vh;
}

.welcome-message h1{
    font-weight: bold;
    margin-bottom: .5em;
}
.welcome-message h2{
    font-size: 16px;
}
.arrow a{
    color: white;
    font-size: 16px;
}

.info{
    margin-top: 2em;
}

.info-button a{
    background: #161B29;
}

.skill-title h1{
    font-weight: bold;
    color: #232B3F;
}

.my-work{
    background: #161B29;
    color: white;
}

.title-work{
    margin-top: 2em;
}

.title-work h1{
    font-weight: bold;
}


.work-tabs{
    background: none;
    border: none;
    width: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.work-tabs a{
    color: white;
}

.work-tabs a:hover{
    background: none;
    border-bottom: 5px solid #313B56;
}

.models{
    background: #E5EBFB;
}

.models h1{
    font-weight: bold;
    color: #232B3F;
    padding-top: 1em;
    font-size: 25px;
}

.page h1{
    color: white;
    font-weight: bold;
    font-size: 25px;
}

.models-tabs{
    background: none;
    border: none;
}

.models-tabs a{
    color: #232B3F;
    background: none;

}
.tabs-title:hover:not(.is-active){
    border-bottom: 5px solid #313B56;
}

.models-cell{
    display: flex;
    justify-content: center;
    align-items: center;
}

.tabs-title.is-active{
    border-bottom: 5px solid #313B56;
}

.tabs-content{
    background: none;
}

.thumbnail{
    width: 95%;
}

.certs{
    background: #161B29;
    color: white;
}

.cert h1{
    color: white;
    font-weight: bold;
    font-size: 25px;
}

.cert{
    color: white;
    cursor: pointer;
}

